<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/favicon_user.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="forgot-password-container">
        <h2>Forgot Password</h2>
        <form id="forgot-password-form" action="/forgot_password" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="email" id="email" name="email" placeholder="Email Address" required>
            <button type="submit">Send Password</button>
        </form>
        <p id="login-link" onclick="window.location.href='/'">Back to Login</p>
    </div>
</body>
</html>
