<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="registration-form-container">
        <div class="registration-form">
            <button id="close-btn" onclick="window.location.href='/'">&times;</button>
            <h2>Registration</h2>
            <form id="registration-form" action="/register" method="post">
                <input type="text" name="full_name" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="text" name="contact_number" placeholder="Contact Number" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="text" name="restaurant_name" placeholder="Restaurant Name" required>
                <input type="text" name="restaurant_location" placeholder="Restaurant Location" required>
                <select name="restaurant_type" required>
                    <option value="" disabled selected>Select Restaurant Type</option>
                    <option value="Fast Food">Fast Food</option>
                    <option value="Fine Dining">Fine Dining</option>
                    <option value="Casual Dining">Casual Dining</option>
                    <option value="Cafe">Cafe</option>
                </select>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
